@keyframes flickerAnimation {
    0% {
        opacity: 1;
        // transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
        // transform: scale(1.1);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
        // transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
        // transform: scale(1.1);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
        // transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
        // transform: scale(1.1);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
        // transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
        // transform: scale(1.1);
    }
    100% {
        opacity: 1;
        // transform: scale(1);
    }
}